.idea/
.vs/
.vscode/
.devcontainer/

x64/
Win32/
Debug/
Release/
Debug_Static/
Release_Static/
objfre_wlh_amd64/
objchk_wlh_amd64/
build*/

*.o
*.vcxproj.user
_inc_*
*.bin
*.dll
*.exp
*.ilk
*.lib
*.pdb
*.bkp
*.log
*.exe
*.out
*.tlog
*.idb
*.obj
*.pmc

Debug/
Release/
Debug_Static/
Release_Static/

version.h

deps
