# Ignore build directories
/build/
/out/
/bin/
/lib/

# Ignore CMakePresets.json and CMakeUserPresets.json
CMakePresets.json
CMakeUserPresets.json

# IDE
/.vscode

# Project specific files
/src/version.hpp